.bar-btn{
    font-size: 25px;
    color: rgb(0, 2, 0);
    margin-right: 20px;
    cursor: pointer;
}

.nav-menu{
    position: fixed;
    width: 100%;
    height: 0vh;
    top: 120px;
    background: rgba(222, 158, 87, .90);
    text-align: center;
}

.nav-menu li{
    display: none;
    line-height: 30px;
    margin: 45px;
}

.nav-menu li a{
    color: #ffffff;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
}

.nav-menu li a.active, .nav-menu li a:hover{
    color: rgb(0, 0, 0);
    transition: .3s;
}

#check{
    display: none;
}

#check:checked ~.nav-menu{
    height: 100vh;
}

#check:checked ~.nav-menu li{
    display: block;
}